*{
    margin:0;
    padding:0;
    list-style:none;
    text-decoration::none;
    box-sizing: border-box
}

html{
    height:100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar-links {
    position:relative;
    top: 3rem;   
    height: 100%;
    display:table;
    float:right;
    vertical-align: middle;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    font-family: 'Oswald';
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1.4rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%; 
        height:288px
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


body {
    margin:0;
    padding:0;
    font-family: 'Oswald';
    background-color:white;
    min-height: 100%;
    display:flex;
    flex-direction: column;
}



.container{
    position:relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px;
    
    
    
}

.container .card{
    position:relative;
    max-width:451px;
    margin:10px;
    padding:15px;
    display:flex;
}

.container .card .imgBx{
    max-width: 150px;
    flex: 0 0 150px;
}

.container .card .imgBx img{
    max-width: 100%;   
}

.container .card .content{
    margin-left:20px;
}
@media (max-width:800px){
    .container{
        flex-direction: column;
    }
}

@media (max-width:768px){
    .container{
        flex-direction: column;
    }
    
    .container .card{
        flex-direction: column;
        max-width: 350px;
    }
    
    .container .card .imgBx{
        max-width: 100%;
    }
    
    .container .card .content{
    margin-left:0px;
    }
}



.inner_header{
    width:100%;
    height:100%;
    display:block;
    margin: 0 auto;
}


.logo_container{
    height:100%;
    display:table;
    float:left;
    vertical-align: middle;
}

main{
    width:90vw;
    margin:0 auto;
    padding: 30px 20px;
   
}



article{
    background-color: white;
    padding:20px;
    margin-bottom:20px;
    border-radius:5px;
}

article:last-child{
    margin-bottom:0;
}

hr{
    width:90vw;
    margin:0 auto;
}

.iframe-container{
  position:relative;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 80px 60px;

    
    
}

.iframe-container .iframe-card{
    position:relative;
    max-width:100%;
    margin:10px;
    padding:15px;
    display:flex;
    
    
}

.iframe-container .iframe-card .iframe1{
    max-width: 509px;
    
    
}

.iframe-container .iframe-card .iframe1 {
    max-width: 100%;
    
    
}

.iframe-container .iframe-card .iframe-content{
    margin-left:20px;
    
}
@media (max-width:800px){
    .iframe-container{
        flex-direction: column;
        
        
    }
}

@media (max-width:768px){
    .iframe-container{
        flex-direction: column;
    }
    
    .iframe-container .iframe-card{
        flex-direction: column;
       
    }
    
    .iframe-container .iframe-card .iframe1{
        max-width: 350px;
    }
    
    .iframe-container .iframe-card .iframe-content{
    margin-left:0px;
    }
}



.iframe-container .iframe1 iframe{
  position: relative;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
    
}


.middle{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #fa8cb6;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #fa8cb6;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

.container-2{
	width: 80%;
	margin: 0 auto;
}
.title {
    text-align: center;
    margin: 50px 0;
}
.title h5{
	color: var(--primary-color);
	text-transform: uppercase;
}
.column-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-2{
	width: 30%;
    padding-bottom: 50px
}
.card-2 img{
    width: 100%;
}
.panel{
	padding: 5%;
	box-shadow: 0px 6px 18px -8px rgba(118,130,183,1);
	border-radius: 10px;
}
span.date {
    color: var(--primary-color);
    font-weight: 700;
}
a.allbtn {
    display: block;
    width: 10%;
    margin: 5% auto;
    background: var(--primary-color);
    text-align: center;
    color: #fff;
    padding: 1%;
    text-decoration: none;
    border-radius: 4px;
}
.card-2 a {
    text-decoration: none;
    color:#fa8cb6 ;
}
.breaker {
    display: inline-block;
    height: 5px;
    background: var(--primary-color);
    width: 30px;
    position: relative;
    border-radius: 4px;
}
.breaker:after{
	position: absolute;
	content: "";
	background: var(--primary-color);
	width: 30px;
    height: 5px;
	left: 150%;
    border-radius: 4px;
}
@media screen and (max-width: 800px){
	.card-2{
		width: 45%;
		margin-bottom: 30px;
	}
	a.allbtn {
	    width: 20%;
	}
}

@media screen and (max-width: 430px){
	.card-2{
		width: 100%;
	}
	a.allbtn {
	    width: 30%;
	}
}


.button{
  border: 1px solid #fa8cb6;
  background: none;
  padding: 10px 20px;
  font-size: 14px;
  font-family: 'Oswald';
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
    color: #fa8cb6;
}

.button:hover{
  color: #fff;
    background:#fa8cb6 ;
}

.button::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fff;
  z-index: -1;
  transition: 0.8s;
    top: 0;
  border-radius: 0 0 50% 50%;
    height:180%;
}


.iframe-containerhome{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-containerhome iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.iframe-containerhome img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
    



h1{
    color: #fa8cb6
}

h2{
    color: black
}

footer{
    text-align: center;
    background-color: black;
    color:white;
    font-family:'Oswald';
    padding:30px;
    margin-top: auto;
}


.num{
     color: #fa8cb6;
    font-size: 70px
}


.panel2{
	padding: 5%;
	box-shadow: 0px 6px 18px -8px rgba(118,130,183,1);
	border-radius: 10px;
    text-align: center;
}




